# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# If you are using PostgreSQL, you might also want to ignore the database dump files
*.psql
*.pg_dump

# Ignore the local environment settings file
.env
!.env.example

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Static files (usually managed by Django's collectstatic command)
staticfiles/
static/

# Media files (user uploads)
media/

# Django cache
*.cache
.cache/

# PyCharm project files
.idea/

# VSCode project files
.vscode/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*

# Test results
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# pipenv
Pipfile.lock

# Docker
*.env
*.dockerignore
**/docker-compose.yml

# Ignore node_modules if you're using npm or yarn for frontend
node_modules/

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

